<div class="container" id="main-box">
  <div class="row">
    <div class="col s12 title" id="title-box">
      <hr>
      <h1 id="subtitle">Living life devouring burgers.</h1>
    </div>
  </div>

  <div class="row">

    <div class="col s4 container" id="lists">
      <h3>Burgers to Devour</h3>
      <div class="container names" id="not-eaten">

        
          {{#each burgers}}
          
            {{#unless devoured}}
            <li class="row name-button" id={{id}} data-newdevour=true>
            <span class="col-9 pull-left">{{burger_name}}</span>
            <button class="col-3 btn change pull-right">Devour!</button>
            </li>
            {{/unless}}
          
          {{/each}}
        

      </div>
    </div>

    <div class="col s4" id="mid-section">

      <form class="create-form">
        <h3>Add Burgers</h3>
        <p>Burgers you are dying to devour!</p>

        <div class="form-group">
          <label for="burger"></label>
          <input type="text" id="burger" placeholder="Name your burger" name="burger_name">
        </div>

        <button type="submit">Add to List</button>
      </form>

    </div>

    <div class="col s4 container" id="lists">
      <h3>Devoured Burgers</h3>

      <div class="container names" id="devoured">

        <ul>
          {{#each burgers}}
          {{#if devoured}}
          <span class="col s12">{{burger_name}}</span>
          {{/if}}
          {{/each}}
        </ul>

      </div>

    </div>

  </div>
</div>