body {
    background-image: url("../img/fiona-calisti-367cMAtZ3qA-unsplash.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color:whitesmoke;
    background-color: rgb(93,49,49);
}

::placeholder {
    color: rgb(93,49,49);
}

#title-box {
    margin-top: 6%;
    text-align: center;
}

#title-text {
    display: block;
    margin: auto;
    max-width: 75%;
}

#subtitle {
    color:whitesmoke;
    font-family: 'Arial', sans-serif;
}

#mid-section {
margin: 10% 0;
}

.lists {
    background-color: rgb(93,49,49,0.5);
    border-style: solid;
    border-radius: 5px;
    border-width: .05rem;
    border-color: rgb(38,11,10);
    margin-top: 20px;
    font-size: 1.25rem;
    padding: 0;
}

.name-button {
    font-family: 'Arial', sans-serif;
    text-align: left;
    width: 100%;
    height: 60px;
    margin: 0;
    padding: 10px 15px;
}

.name {
    padding: 0 5px 0 0;
}

.btn {
    font-size: .75rem;
    border-color: rgb(38,11,10);
    border-style: solid;
    border-width: medium;
    color:whitesmoke;
    height: 100%;
}