<div class="row" style="margin-bottom: 1px">
  <div class="col s12">
	<li class = "name-button" id={{id}} data-status="{{showbutton}}">
		{{burger_name}}
        {{#if showbutton}}
        <button class="btn change" id="btn-devour">Devour!</button>
        {{/if}}
	</li>
  </div>
</div>