{{!-- <div class="row" style="margin-bottom: 1px">
  <di
  v class="col s12">
	<li class = "name-button" id={{id}} data-newdevour="{{showbutton}}">
		{{burger_name}}
        {{#if showbutton}}
        <button class="btn change" id="btn-devour">Devour!</button>
        {{/if}}
	</li>
  </div>
</div> --}}